// main: ./style.less
.bg-img(@img) {	background-image: url("@{img}");
		background-repeat: no-repeat;
		background-position: top left;
		background-size: 100%; }

body { #gradient.vertical(#a1dbff; #f0f9ff;); }

